* {
	padding: 0;
	margin: 0;
	@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald:wght@500&display=swap');

	font-family: 'Amatic SC', cursive;
	text-align: center;
}

header {
	padding: 40px;
	padding-top: 0px;
	font-size: 40px
}

body {
	background-image: url(img/865178.jpg);
	background-repeat: no-repeat;
}

main {
	padding: 100px;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu {
	margin: auto;

}

h1 {
	color: whitesmoke;
}


h2 {
	margin-bottom: 40px;
	color: whitesmoke;
}

.btn {
	margin: 30px;
	padding: 30px;
	width: 250px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.2s
}

.btn1 {
	background-color: yellowgreen;

}

.btn2 {
	background-color: yellow;

}

.btn3 {
	background-color: brown;

}

.btn:hover {
	scale: 1.1
}

.reset {
	background-color: wheat;
	padding: 3px;
	margin-left: 1400px;
}

.game-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lvl {

	text-align: left;
	background-color: wheat;
	padding: 3px;
	border-radius: 20px;
	margin: 30px;
}

.null {
	padding-top: 0;
}

.game-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.card {
	background-size: cover;
	transform: rotateY(180deg);
	width: 150px;
	height: 200px;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	background-color: whitesmoke;
	transition: 0.5s;
}

.rotate {
	transform: perspective(180px) rotateY(0deg);
	transition: 0.5s;
}

.model {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: wheat;
}

.context {
	font-size: 40px;
}